$primary-color: green;

div {
  background-color: $primary-color;
}
h1 {
  font-family: helvetica;
  font-weight: 200;
}

textarea {
  outline: none;
  resize: none;
  width: 100%;
}

hr {
  width: 100%;
}

.row {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
}

.row-3 {
  display: grid;
  align-items: center;
  grid-template-columns: 33% 33% 33%;
}

.staty {
  display: flex;
  align-items: center;
}

.spinner {
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 36px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 15px;
  width: 6px;
}

.spinner > div.loading {
  background-color: #333;
  height: 40px;
  width: 6px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;

}

.spinner > div.ok {
  background-color: rgb(54, 146, 31);
}


.spinner > div.ko {
  background-color: rgb(145, 23, 49);
}

.spinner .loading.rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .loading.rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .loading.rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .loading.rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}